* {
    padding: 0;
    margin: 0;
}

body>* {
    padding: 0 5.49vw;
}

@font-face {
    font-family: "Inder";
    src: url(fonts/Inder-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Son";
    src: url(fonts/Sen-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root {
    /* color */
    --баклажановий: #232536;
    --білий: #ffffff;
    --жовтий: #FFD050;
    --фіолетовий: #592EA9;
    --темно-сірий: #4C4C4C;
    --сірий: #6D6E76;
    --біло-жовтий: #FBF6EA;
    --біло-рожевий: #F4F0F8;
    --біло-сірий: #F4F4F4;
    --border-color: #cbccd1;
    /* color */
    --txt-sz: 1.125em;
    --h: 56px;
    --w: 14vw;
    --border-width: 0.05px
}

ul {
    list-style-type: none;

}

h1 {
    font-family: 'Son';
    font-size: 3rem;
    line-height: 4rem;
}

h2 {
    font-family: 'Son';
    font-size: 2.25rem;
    line-height: 3rem;
}

h3 {
    font-family: 'Son';
    font-size: 1.75rem;
    line-height: 2.25rem;
}

h4 {
    font-family: 'Son';
    font-size: 1.5rem;
    line-height: 2rem;
}

h5 {
    font-family: 'Son';
    font-size: 1.25rem;
    line-height: 2rem;
}

h6 {
    font-family: 'Son';
    font-size: 1rem;
    line-height: 1.5rem;
}


p {
    font-family: 'Inder';
    line-height: 1.75rem;
}

a {
    position: relative;
    --Білий: #ffffff;
    text-decoration: none;
    color: var(--Білий);
    font-family: 'Inder';
    z-index: 1;
}


button {

    position: relative;
    width: var(--w);
    height: var(--h);
    font-size: var(--txt-sz);
    min-width: 140px;
    font-family: 'Son';
    background-color: rgba(0, 0, 0, 0);
    border: var(--жовтий) solid var(--border-width);


    z-index: 1;
}

button::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--жовтий);
    transform: scaleX(1);

    transform-origin: right;

    transition: transform 0.3s ease;
    z-index: -1;

}



.header__menu>a::before,
.footer__menu>a::before {
    content: "";
    height: 1px;
    background-color: var(--білий);
    transform: scaleX(0);
    width: 100%;
    z-index: -1;
    position: absolute;
    top: calc(1em + 2px);
    left: 0;
    transition: transform 0.3s ease;
    transform-origin: right;

}


.header__link_white::before {
    background-color: var(--білий);

}

#burger-toggle {
    display: none;
}


















/*  */

























header {

    display: flex;
    height: 80px;

    z-index: 9;
    background-color: var(--баклажановий);
    color: white;
    justify-content: space-between;
    align-items: center;
}

.footer__link,
.header__link {
    margin: 0 0.8vw;
}

.header__link_white {
    border: var(--білий) solid var(--border-width);
    ;
}





.section-one {
    display: flex;
    background-size: cover;
    background-image: url(images/Знімок\ екрана\ \(95\).png);
    height: 50vw;
    align-items: center;
    color: #ffffff;
}

.section-one__hero {
    width: 65vw;

}



.section-one__hero>* {
    margin: 16px 0;
}








.section-two {
    display: flex;
    margin: calc(80px + 5vw) 0;
}

.section-two__post {
    width: 50.9vw;

}

.section-two__all-posts {
    width: 35.9vw;

}


.section-two__img {
    width: 100%;
}


.section-two__all-posts {

    padding: 0 2.2vw;
}

.section-two__post-info {
    border: var(--border-color);
    border-style: solid;
    border-width: var(--border-width);
    padding: 2.2vw;
}

.section-two__post-info>* {
    margin: 1rem 0;
}

.section-two__all-posts-info {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
}

.section-two__post-info {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
}

.section-two__all-posts-info li {
    display: flex;
    justify-content: center;
    min-height: 170px;
    flex-direction: column;
    padding: 0 1rem;
    margin: 1rem 0;
    transition: background-color 0.2s ease;

}


.section-two__all-posts-info h4 {
    margin-top: 0.5rem;
    margin-right: 5vw;

}

.section-two h2 {
    margin-bottom: 2.2vw;
}








.section-three {

    display: flex;
    flex-direction: column;

}

.section-three img {

    width: 80%;
    height: 26px;
    margin-left: 20%;

}


.section-three__background_color {
    background-color: var(--біло-рожевий);
    display: flex;
    height: 420px;
    justify-content: space-evenly;
    padding: 1vw;
}

.section-three__about-as,
.section-three__our-mision {
    width: 39%;
}

.section-three__about-as>*,
.section-three__our-mision>* {
    margin: 1.5rem;
}

.section-three__about-as a {
    color: #592EA9;
}

.section-four {
    margin: calc(80px + 5vw) 0;

}

.section-four ul {

    display: flex;
    justify-content: space-between;
}

.section-four li {
    border: var(--border-color);
    border-style: solid;
    border-width: var(--border-width);
    padding: 2.2vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2.2vw 0;
    width: 17%;
}

.background_icon-1,
.background_icon-2,
.background_icon-3,
.background_icon-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--біло-жовтий);
}

.section-four h2 {

    display: flex;
    justify-content: center;
}


.section-four__info {

    display: flex;
    height: 53vw;
    justify-content: end;
    align-items: end;
    margin-top: 5.49vw;

}


.section-four__img {
    width: 70vw;
    position: absolute;
    z-index: -1;
    left: 5.49vw;
}

.section-four__text {
    background-color: var(--білий);
    width: 50vw;

    height: 452px;
    /* margin-left: 50%; */
    padding: 3.4vw;


}

.section-four__text>* {
    margin: 2.2vw;
}








.section-five>h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.section-five__Authors {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 64px;
}

.section-five__Authors li {
    height: 324px;
    width: 296px;
    background-color: var(--біло-сірий);



}

.section-five__Authors li>* {
    display: flex;
    justify-content: center;
}

.section-five__Authors li>img {
    position: relative;
    left: 84px;
    margin: 32px 0;
}

.section-five__Authors li img {
    margin-top: 32px;
    transition: transform 0.3s ease-in-out;
}

.section-five__featured {
    display: flex;
    justify-content: space-around;
    margin-top: 5.49vw
}

.section-five__featured>* {
    margin: 0 16px;
}

.section-five__icon>* {
    margin: 0 24px;

}


.section-five__TESTIMONIALs {
    background-color: var(--біло-жовтий);
    padding: 5.49vw;
    display: flex;
    margin: 5.49vw 0;
    justify-content: space-between;
}

.section-five__TESTIMONIAL {
    /* padding-left: 5.49vw; */
    border-width: var(--border-width) 0 0 0;
    /* border-style: inset; */
}


.section-five__TESTIMONIAL {
    width: 42%;
}

.section-five__TESTIMONIAL_w {
    width: 48%;
}

.section-five__Author {
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 32px;
}

.section-five__button {
    display: flex;
    width: 120px;
    justify-content: space-around;
}

.section-five__button div {
    display: flex;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background-color: var(--білий);
    min-width: 0;
    align-items: center;
    justify-content: center;
    font-family: 'inder';
    transition: background-color 0.3s ease;
}










.section-six {
    display: flex;
    justify-content: center;
}

.section-six__button button {
    margin: 0 8px;
}

.section-six__Join-Now {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5.49vw;

}

.section-six__Join-Now>* {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 16px;
}









.footer-header {
    display: flex;
    height: 80px;

    z-index: 9999;
    background-color: var(--баклажановий);
    color: white;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: var(--баклажановий);
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 79vw;
    padding: 4rem;
    background-color: #2b2d41;
}

footer div h2 {
    width: 50%;
    color: var(--білий)
}

.contact {
    display: flex;
    background-color: var(--баклажановий);
    justify-content: space-between;
    color: var(--білий);
    padding-top: 32px;
    padding-bottom: 32px;
}

footer input {
    display: flex;
    align-items: center;
    height: var(--h);
    border: var(--border-color);
    border-style: inset;
    border-width: var(--border-width);
    padding-left: 16px;
    background-color: #2b2d41;
    width: 300px;
    margin: 0 16px;

}

.contact img {
    margin: 0 24px;
    transition: transform 0.3s ease-in-out;
}










/*  */



@media(hover:hover) {
    button:hover::before {
        transform: scaleX(0);

    }

    button:hover {
        color: var(--жовтий);

    }

    .header__menu>a:hover::before,
    .footer__menu>a:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

    .section-five__icon img:hover,
    .contact img:hover {

        transform: scale(1.2) translate(0, -4px);

    }

    .header__link_white:hover {
        color: var(--білий);
    }
}


@media(max-width:784px) {
    header {
        display: flex;
        width: 100vw;
        position: fixed;
    }

    label {
        position: relative;
        display: block;
        height: 25px;
        width: 30px;

    }

    label::after,
    label::before,
    label samp {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        transition: 0.3s;

    }

    label::before {
        content: "";
        top: 0;
    }

    label::after {
        content: "";
        bottom: 0;
    }

    label samp {
        content: "";
        top: 11px;
    }

    #burger-toggle:checked~label::after {
        transform: rotate(45deg);
        bottom: 10px;
    }

    #burger-toggle:checked~label::before {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked~label samp {
        transform: rotate(-45deg);
        top: 12px;
    }



    .header__menu {
        display: flex;
        position: fixed;

        left: 0;
        right: 0;
        background-color: var(--баклажановий);
        height: 300px;
        z-index: 3;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 36px 0;
        left: -100vw;
        right: 100vw;
        font-size: 1.5rem;
    }

    #burger-toggle:checked~ul {
        left: 0;
        right: 0;
    }

    li a {
        font-size: 24px;
    }





    h1 {

        font-size: 2rem;
        line-height: 2.25rem;
    }

    h2 {

        font-size: 1.75rem;
        line-height: 2rem;
    }

    h3 {

        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    h4 {

        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    h5 {

        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    h6 {
        font-size: 1rem;
        line-height: 1.4rem;
    }














}










/*  */

@media (min-width:785px) and (max-width:1200px) {

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;

    }

    .section-one__hero {
        width: 65vw;

    }

    /* .section-one__hero>* {
        margin: 8px 0;
    } */
    .section-five__Authors {
        flex-wrap: wrap;

    }

    .section-five__Authors>* {

        margin: 16px 25px;
    }

    .section-five__featured {
        flex-wrap: wrap;
        justify-content: space-around
    }

    .section-five__featured>* {
        height: 100px;
        width: 250px;
    }

}

@media(hover:hover) {
    .section-two__all-posts-info li:hover {
        background-color: var(--біло-жовтий);
    }

    .section-five__button div:hover {
        background-color: var(--жовтий);

    }
}





@media(max-width:784px) {
    header {
        margin-top: -80px;
        width: calc(100% - 5.49vw * 2);
    }

    .section-one {
        margin-top: 80px;
        display: flex;
        background-size: cover;
        background-image: url(images/Знімок\ екрана\ \(97\).png);
        height: 120vw;
        align-items: center;
    }

    .section-one__hero {
        width: 85vw;
    }

    .section-one__hero>* {
        margin: 8px 0;
    }

    .section-two {
        flex-direction: column;
    }

    .section-two__all-posts,
    .section-two__post {
        width: auto;

    }

    .section-two__all-posts-info {
        height: 340px;
        width: 100%;

        overflow: auto;

    }




    .section-three__background_color {
        height: auto;
        flex-direction: column;

    }

    .section-three__about-as,
    .section-three__our-mision {
        width: auto;
    }


    .section-four {
        margin-bottom: 220px;
    }

    .section-four ul {
        flex-wrap: wrap;


    }

    .section-four li {
        width: 94%;

    }

    .section-four__info {
        height: 77vw;
        margin: 32px 0;

    }

    .section-four__img {
        width: 100%;
        margin: 0 -5.49vw;

    }

    .section-four__text {
        height: 67.5vw;
        width: 100%;
        background-color: rgba(179, 160, 160, 0.493);
    }

    .section-four__text>* {
        margin: 6px 0;
    }

    .section-five__Authors {
        overflow: auto;
        width: 100%;
    }

    .section-five__Authors li {
        margin: 0 16px;
    }

    .section-five__featured {
        flex-wrap: wrap;
        justify-content: space-between
    }

    .section-five__featured>* {
        height: 100px;
        width: 150px;
    }

    .section-five__TESTIMONIALs {
        flex-direction: column;
    }

    .section-five__TESTIMONIAL_w,
    .section-five__TESTIMONIAL {
        width: auto;
    }

    .footer__menu {
        display: none;
    }

    .footer__input {
        padding: 2rem;
        flex-direction: column;
        width: auto;
        align-items: baseline;

    }

    .footer__input>* {
        margin: 16px 0;

    }

    footer div h2 {
        width: auto;
    }

    .contact {
        flex-direction: column;
    }

    .contact div {
        margin-top: 16px;
    }
}